.btn {
	width: 200px;
	height: 40px;

	background-color: transparent;

	border: 1px solid blue;

	font-size: 15px;
	color: blue;

	transition: background-color .25s, color .25s;
}

.btn:hover {
	background-color: blue;

	color: white;
}