.main {

}

.main__container {

}

.main__graph {
	
}

.graph {
	position: relative;

	width: 700px;
	height: 700px;

	margin-top: 50px;

	background-image: url(../img/unnamed.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	border: 1px solid black;
}

.graph__point {
	position: absolute;
	top: 0;
	left: 0;

	width: 10px;
	height: 10px;

	background-color: red;

	/*border-radius: 50%*/
}