.main {

}

.main__bar-settings {
	display: none;

	padding: 5px 10px;
}


.main__inner-temp {
	padding: 5px 10px;
}

.temp-display {

}

.temp-display__item {
	margin: 0 20px 0 3px;
}

.main__container {

}

.main__form-container {

}

.main__container-graph {
	overflow: auto;

	margin-top: 50px;
}

.main__graph {
	
}

.graph {
	position: relative;

	width: 700px;
	height: 700px;

	background-image: url(../img/unnamed.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	border: 1px solid black;
}

.graph__point {
	position: absolute;
	top: 0;
	left: 0;

	width: 10px;
	height: 10px;

	background-color: red;

	border-radius: 50%
}

.graph__inner {
	display: none;
	position: relative;

	width: 100%;
	height: 100%;

	font-size: 22px;
	font-weight: 700;
}

.graph__label {
	position: absolute;
	top: -81px;
	left: -81px;

	width: 270px;
	//height: 50px;

	padding: 5px 10px;

	background-color: white;

	border:1px solid black;
	border-radius: 5px;
}

.graph__text-container {
	display: block;
}

.graph__text {
	
}

.graph__point:hover .graph__inner {
	display: block;
}

@media(max-width: 730px) {
	.main__form-container {
		display: none;
	}

	.main__bar-settings {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 50;

		display: flex;
		align-items: center;
		justify-content: space-between;

		width: 100%;

		background-color: white;
	}

	.main__container-graph {
		margin: 0;
	}
}